body{
  margin:0;
  padding: 0;
}

nav {
  background-color: #333;
  margin-top: -10px;
  padding: 5px 10px;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 100px;
  padding: 0;
  justify-content: center;
  gap: 60px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  
}

nav ul li a:hover {
  background-color: #555;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.logo img {
  height: 50px; 
  width: auto;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #555;
}